.content h1 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.content h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.content h3 {
    margin-top: 2rem;
    margin-bottom: .75rem;
}

.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content button,
.content pre,
.content ol,
.content ul,
.content iframe,
.content hr,
.content img,
.content table,
.content blockquote,
.content video {
    margin-bottom: 1.15rem;
}

blockquote p:last-of-type {
    margin-bottom: 0 !important;
}


.content img:not(.expanded) {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.content video {
    width: 100%;
    max-width: 100%;
}

table {
    position: relative;
    z-index: 10;
    background: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-sans);
    line-height: 1.5;
    width: 100%;
}

thead {
    font-weight: bold;
}

td, th {
    border: solid rgb(164, 164, 164);
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
    letter-spacing: .64px;
    text-align: left;
}

td:last-of-type,
th:last-of-type {
    text-align: right;
}

td:first-of-type,
th:first-of-type {
    text-align: left;
}

tr:hover {
    background: var(--primary-color);
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: var(--font-sans);
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 16px;
    max-width: 468px;
}

blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 7px !important;
}

blockquote.twitter-tweet,
blockquote.twitter-tweet a {
    font-family: var(--font-sans);
    color: inherit;
    font-weight: normal !important;
    text-decoration: none;
    outline: 0 none;
    font-size: 1rem;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: none;
}