:root {
  --font-serif: ivypresto-display;
  --font-sans: neue-haas-grotesk-display, -apple-system, sans-serif;
  --font-mono: 'Fira Mono', monospace;
    font-family: var(--font-serif);
  --pure-white: #ffffff;
  --primary-color:  #ccdbe9;
  --secondary-color: #d0dde9; 
  --tertiary-color: #edf0f8;
  --accent-color: rgb(197, 81, 108); /* rgb(108, 108, 255); */
  --accent-color-rgb: 197, 81, 108; /* For transparent purposes */
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #1f1f1f;
  --off-black: #3a3a3a;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  --works-on-accent-bg: var(--pure-white);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  background: linear-gradient(180deg,
      var(--primary-color) 0%,
      var(--secondary-color) 10.45%,
      var(--tertiary-color) 41.35%);
}

body::before {
  content: '';
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%,
      var(--pure-white) 0%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0.05;
}

::selection {
  background: var(--accent-color);
  color: white;
  -webkit-text-fill-color: white;
  height: 80%;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  font-weight: 400;
  color: var(--text-color)
}

p, li {
  font-family: var(--font-sans);
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 400;
}

li {
  margin-left: 1rem;
  list-style-position: outside;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0.5rem
}

strong {
  font-weight: 700;
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 { 
  font-size: 1.3rem;
}

h5, h6 {
  font-size: 1.2rem;
}

hr {
  color: var(--accent-color);
  opacity: 0.3;
}


iframe {
  width: 100%;
  left: 0;
  box-shadow: 1px 1px 6px 1px #cecece80;
  margin: 1rem 0 1.5rem 0;
}

/* This breakpoint is intentionally higher than the regular mobile breakpoint */
@media screen and (min-width: 1100px) {
  iframe {
    position: relative;
    left: calc(-35vw + 50%);
    width: 70vw;
  }
}

pre {
  font-size: 0.9rem !important;
  margin-bottom: 1rem !important;
  border-radius: 3px;
  /* font-family: var(--font-mono);
  background-color: var(--background-without-opacity);
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5rem;
  overflow-x: auto;
  color: var(--text-color); */
}

code:not(pre > code) {
  font-family: var(--font-mono);
  /* background: var(--tertiary-color); */
  background: rgba(var(--accent-color-rgb), .1);
  color: var(--accent-color);
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: .825em;
  /* border: .5px solid var(--accent-color); */
  /* margin: 0 2px; */
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.button {
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 1px 1px 6px #cecece80;
  padding: 2px 7px;
  position: relative;
  z-index: 1;
  font-weight: 200;
}

.button:before {
  	position: absolute;
  	content: "";
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  	background-image: linear-gradient(135deg,
    var(--primary-color) -25%,
    var(--accent-color) 125%);
  	z-index: -1;
  	opacity: 0;
  	transition: opacity 250ms linear;
  	-webkit-transition: opacity 250ms linear;
  	-moz-transition: opacity 250ms linear;
  	-ms-transition: opacity 250ms linear;
  	-o-transition: opacity 250ms linear;
}

.button:hover::before {
  opacity: 1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  } 
  h2 {
    font-size: 1.5rem;
  }
}

.pulled-right { 
  margin-left: auto;
  text-align: right;
}

.page-overline {
  font-family: -apple-system, sans-serif;
  font-size: .88rem;
  margin-top: 2rem;
  margin-bottom: -2.5rem;
  text-transform: uppercase;
  letter-spacing: .64px;
  font-weight: 300;
}

.page-title {
  font-size: 5rem;
  font-weight: 200;
  margin: 3rem 0 2rem;
  padding-bottom: 2rem;
  border-bottom: .5px solid var(--accent-color);
  /* line-height: 3.75rem; */
}

/* TABLET BREAKPOINT */
@media screen and (max-width: 660px) {
  .page-title {
    font-size: 3.5rem !important;
    letter-spacing: 1px;
  }

  .page-overline {
    font-size: .75rem;
  }
}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 460px) {
  .page-title {
    font-size: 2.5rem !important;
    letter-spacing: 1px;
  }
}

.accented {
  /* color: var(--accent-color); */
  background: linear-gradient(to right, black 10%, var(--accent-color) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bolded {
  font-weight: 500;
}

.padding-bottom { 
  padding-bottom: 4px;
}

.border-top {
  border-top: 1px solid var(--accent-color);
  border-top: .5px solid var(--accent-color);
  padding-top: 1.5rem;
}

.border-bottom {
  border-bottom: 1px solid var(--accent-color);
  border-bottom: .5px solid var(--accent-color);
  padding-bottom: 1.5rem;
}

.no-border {
  border: none;
}

.block {
  display: block;
}

a:not(.no-underline) {
  /* display: inline-block; */
  position: relative;
  color: var(--accent-color);
}

a:not(.no-underline):after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:not(.no-underline):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

blockquote {
  border-left: 10px solid var(--accent-color);
  padding: 1rem;
  margin-left: .5rem;
  background: rgba(var(--accent-color-rgb), .125);
}

blockquote p:last-of-type {
  margin-bottom: 0 !important;
}

/* TWEET EMBED */
.twitter-tweet {
  margin: 10px auto;
}