:root {
  --font-serif:  ivypresto-display, Georgia, serif;
  --font-sans:  Satoshi, halyard-display, -apple-system, sans-serif;
  --font-mono: 'Fira Mono', monospace;
  font-family: var(--font-serif);

  --nav-height: 60px;
  --footer-height: 90vh;
  --section-margin-bottom: 5rem;

  --pure-background-color: #ffffff;
  --primary-color:  #ccdbe9;
  --secondary-color: #d0dde9; 
  --tertiary-color: #edf0f8;
  --accent-color: rgb(197, 81, 108);
  --accent-color-rgb: 197, 81, 108; 
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #1c1c1c;
  --text-color-rgb: 28, 28, 28;
  --off-text-color: #3a3a3a;
  --pure-text-color: #000000;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --works-on-accent-bg: var(--pure-background-color);
  --semitransparent-bg: rgba(255, 255, 255, 0.5);

  /* DARK MODE */
  /* --pure-background-color: #000000;
  --primary-color: rgb(25, 25, 25);
  --secondary-color: rgb(25, 25, 25);
  --tertiary-color: rgb(25, 25, 25);
  --accent-color: rgb(49, 179, 167);
  --accent-color-rgb: 49, 179, 167; 
  --heading-color: rgba(255, 255, 255, 0.7);
  --text-color: #f2f2f2;
  --text-color-rgb: 242, 242, 242;
  --off-text-color: #e3e3e3;
  --pure-text-color: #ffffff;
  --background-without-opacity: rgba(0, 0, 0, 0.7);
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --works-on-accent-bg: var(--pure-background-color);
  --semitransparent-bg: rgba(255, 255, 255, 0.08); */
}

* {
   transition: color 300ms linear, background 300ms linear;
   -webkit-transition: color 300ms linear, background 300ms linear;
   -moz-transition: color 300ms linear, background 300ms linear;
   -ms-transition: color 300ms linear, background 300ms linear;
   -o-transition: color 300ms linear, background 300ms linear;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;  
  touch-action: manipulation;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--tertiary-color);
  overscroll-behavior: none;
}

body::before {
  content: '';
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%,
      var(--pure-background-color) 0%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0.05;
}

::selection {
  -webkit-text-fill-color: var(--pure-text-color);
  color: rgba(var(--accent-color-rgb), .2);
  background: var(--primary-color);
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.visible {
  opacity: 1 !important;
}

h1,
h2 {
  font-weight: 400;
  color: var(--text-color)
}

p, li {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 1.2rem;
  line-height: 1.35;
  letter-spacing: -.01rem;
  font-weight: 300;
}

li {
  margin-left: 1rem;
  list-style-position: outside;
  font-weight: 300;
  line-height: 1.5;
  /* margin-bottom: 0.5rem; */
}

strong {
  font-weight: 600;
  font-weight: 500;
  color: var(--pure-text-color);
}

em {
  font-style: italic;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 { 
  font-size: 1.3rem;
}

h5, h6 {
  font-size: 1.2rem;
}

hr {
  color: var(--accent-color);
  opacity: 0.3;
}


iframe {
  width: 100%;
  left: 0;
  box-shadow: 1px 1px 6px 1px #cecece80;
  margin: 1rem 0 1.5rem 0;
}

/* This breakpoint is intentionally higher than the regular mobile breakpoint */
/* UNCOMMENT TO ALLOW IFRAMES TO BE FULLBLEED */
/* @media screen and (min-width: 1100px) {
  iframe {
    position: relative;
    left: calc(-35vw + 50%);
    width: 70vw;
  }
} */

pre {
  font-size: 0.9rem !important;
  margin-bottom: 1rem !important;
  border-radius: 3px;
  /* font-family: var(--font-mono);
  background-color: var(--background-without-opacity);
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5rem;
  overflow-x: auto;
  color: var(--text-color); */
}

code:not(pre > code) {
  font-family: var(--font-mono);
  /* background: var(--tertiary-color); */
  background: rgba(var(--accent-color-rgb), .1);
  color: var(--accent-color);
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: .825em;
  /* border: .5px solid var(--accent-color); */
  /* margin: 0 2px; */
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.button {
  font-family: var(--font-sans);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 1px 1px 6px var(--box-shadow-color);
  padding: 6px 10px;
  position: relative;
  z-index: 1;
  font-weight: 200;
  background: var(--semitransparent-bg);
  color: var(--pure-text-color);
}

.button:focus,
.button:active {
  color: var(--pure-text-color);
}

.button:before {
  	position: absolute;
  	content: "";
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  	background-image: linear-gradient(135deg, 
    var(--semitransparent-bg) 10%,
    /* var(--pure-background-color) 30%, */
    rgba(var(--accent-color-rgb), .4) 150%);
  	z-index: -1;
  	opacity: 0;
  	transition: opacity 250ms linear;
  	-webkit-transition: opacity 250ms linear;
  	-moz-transition: opacity 250ms linear;
  	-ms-transition: opacity 250ms linear;
  	-o-transition: opacity 250ms linear;
}

.button:hover::before {
  opacity: 1;
}

.pulled-right { 
  margin-left: auto;
  text-align: right;
}

.page-overline {
  margin-top: 2rem;
  margin-bottom: -2.5rem;
  font-family: var(--font-sans);
  font-size: .88rem;
  text-transform: uppercase;
  letter-spacing: .64px;
  font-weight: 300;
}

.page-title {
  font-size: 5rem;
  font-weight: 200;
  margin: 3rem 0 1rem;
  padding-bottom: 1.5rem;
  border-bottom: .5px solid var(--accent-color);
  pointer-events: none;
  user-select: none;
}

.page-title.home {
  font-size: 3.5rem;
}

/* We set opacity of transitioning elements to 0 to prevent brief paint before opacity transitions 
But for users who prefer reduced motion, we don't want to apply this 
(they would never become visible because transitions never trigger) */
/* @media (prefers-reduced-motion: no-preference) {
  .transition-title,
  .transition-subtitle,
  .transition-content {
    opacity: 0;
  }
} */

.overflow-hidden {
  overflow: hidden;
}

/* ONLY DESKTOP */
@media screen and (min-width: 768px) {
  .page-overline.see-all {
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem);
}
}

/* TABLET BREAKPOINT */
@media screen and (max-width: 660px) {
  .page-title {
    font-size: 3.5rem;
    padding-bottom: 1rem;
    /* letter-spacing: 1px; */
  }

  .page-title.home {
    font-size: 3rem;
  }

  .page-overline {
    font-size: .75rem;
  }
}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 460px) {
  .page-title {
    font-size: 2.5rem;
  }

  .page-title.home {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 400px) {
  .page-title {
    font-size: 2.25rem;
  }
  .home {
    font-size: 2rem;
  }
}

/* FIXME: Leads to bug on safari */
.gradient-accented {
  /* background: linear-gradient(to right, var(--pure-text-color) 10%, var(--accent-color) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;  */
  color: var(--accent-color);
}

.accented {
    color: var(--accent-color);
}

.bolded {
  font-weight: 500;
}

.padding-bottom { 
  padding-bottom: .2rem;
}

.border-top {
  border-top: 1px solid var(--accent-color);
  border-top: .5px solid var(--accent-color);
  padding-top: 1.5rem;
}

.border-bottom {
  border-bottom: 1px solid var(--accent-color);
  border-bottom: .5px solid var(--accent-color);
  padding-bottom: 1.5rem;
}

.no-border {
  border: none;
}

.block {
  display: block;
}

a:not(.no-underline) {
  position: relative;
  color: var(--accent-color);
  background:linear-gradient(var(--accent-color), var(--accent-color)) left bottom no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.25s ease-out;
  -webkit-transition: background-size 0.25s ease-out;
  -moz-transition: background-size 0.25s ease-out;
  -ms-transition: background-size 0.25s ease-out;
  -o-transition: background-size 0.25s ease-out;
}

a:not(.no-underline):hover {
  background-size: 100% 1px;
}

/* a:not(.no-underline):after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
}

a:not(.no-underline):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

blockquote {
  border-left: 10px solid var(--accent-color);
  padding: 1rem;
  margin-left: .5rem;
  background: rgba(var(--accent-color-rgb), .1);
}

blockquote p:last-of-type {
  margin-bottom: 0 !important;
}

/* TWEET EMBED */
.twitter-tweet {
  margin: 10px auto;
}

.sticky-top {
  position: sticky;
  top: 0;
  /* top: var(--nav-height); */
  padding-top: 1px;
  z-index: 10;
  background: var(--tertiary-color);
}

main {
  margin-top: var(--nav-height) !important;
}

.see-all-flex {
  display: flex;
  justify-content: space-between;
}